{% extends 'base.html.twig' %}

{% block title %}Article homepage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('article') }}
{% endblock %}

{% block body %}
    <div id="article" data-id="{{ articleId }}">
        <h1 id="article-title"></h1>
        <div id="article-content"></div>
        <div id="article-bottom">
            <div id="article-date"></div>
            <div id="article-author"></div>
        </div>
    </div>
    <div id="article-comments-area">
        <div id="article-comments">
        </div>
        <button id="load-comments">Load comments</button>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div id="send-comment-area" style="display: none">
                <input type="hidden" id="send-comment-parent" name="comment[parentComment]"/>
                <input type="hidden" id="send-comment-article" name="comment[article]" value="{{ articleId }}"/>
                {{ form_widget(form.text, { id: 'send-comment-input'}) }}
                {{ form_widget(form._token) }}
                <button id="send-comment-button">Send comment</button>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('article') }}
{% endblock %}