{% extends 'base.html.twig' %}

{% block title %}Article homepage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('article') }}
{% endblock %}

{% block body %}
    <div id="article" data-id="{{ articleId }}" class="block-container">
        <div id="article-date"></div>
        <h1 id="article-title"></h1>
        <div id="article-content"></div>
        <div id="article-bottom">
            <div id="article-author"></div>
        </div>
    </div>
    <div id="article-comments-area">
        <div id="article-comments">
        </div>
        <button id="load-comments">Load comments</button>
        <div id="answer-description"></div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <form id="send-comment-area" style="display: none">
                {#
                    the only thing here that really makes the form view useful is the csrf 
                    I render the parent and article manually because I don't need the options
                 #}
                <input type="hidden" id="send-comment-parent" name="comment[parentComment]"/>
                <input type="hidden" id="send-comment-article" name="comment[article]" value="{{ articleId }}"/>
                {{ form_widget(form.text, { id: 'send-comment-input'}) }}
                {{ form_widget(form._token) }}  
                {{ form_widget(form.recaptcha, { 'id': 'comment-recaptcha', 'attr': {'data-site-key': google_recaptcha_site_key } }) }}
                <button type="button" id="send-comment-button">Send comment</button>
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>
    {{ encore_entry_script_tags('article') }}
{% endblock %}